{% extends "layouts/default.html" %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Short description</th>
                <th>Season count</th>
                <th>Episodes / season</th>
                <th>Episode length</th>
                <th>Trailer / intro</th>
                <th>Person recommending</th>
                <th>Associated links</th>
            </tr>
        </thead>
        <tbody>
            {% for recommendation in recommendations %}
                <tr>
                    <td>{{ recommendation.title }}</td>
                    <td>{{ recommendation.description }}</td>
                    <td>{{ recommendation.season_count }}</td>
                    <td>{{ recommendation.episodes_per_season }}</td>
                    <td>{{ recommendation.episode_length }}</td>
                    <td>
                        {% if recommendation.trailer != '' %}
                            <a href="{{ recommendation.trailer }}">Trailer</a>
                        {% endif %}
                    </td>
                    <td>{{ recommendation.person }}</td>
                    <td>{{ recommendation.associated_links }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="new" class="btn btn-success">Add a new recommendation</a>
{% endblock %}
