{% extends "layouts/default.html" %}
{% block content %}
<form action="new" method="post">
    <div class="form-group">
        <label for="title">Series title</label>
        <input id="title" name="title" type="text" class="form-control" />
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" rows="5" cols="50" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label for="season-count">Number of seasons</label>
        <input id="season-count" name="season_count" type="number" class="form-control" />
    </div>

    <div class="form-group">
        <label for="still-on">Is ongoing?</label>
        <select id="still-on" name="still_on" class="form-control">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>

    <div class="form-group">
        <label for="episodes-per-season">Episodes per season</label>
        <input id="episodes-per-season" name="episodes_per_season" type="number" class="form-control" />
    </div>

    <div class="form-group">
        <label for="episode-length">Length of the episode [min]</label>
        <input id="episode-length" name="episode_length" type="number" class="form-control" />
    </div>

    <div class="form-group">
        <label for="trailer">Link to a video / trailer</label>
        <input id="trailer" name="trailer" type="text" class="form-control" />
    </div>

    <div class="form-group">
        <label for="person">Person recommending</label>
        <input id="person" name="person" type="text" class="form-control" />
    </div>

    <div class="form-group">
        <label for="associated-links">Associated links</label>
        <textarea id="associated-links" name="associated_links" rows="5" cols="50" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Save" />
        or <a href="/">Back to main page</a>
    </div>
</form>
{% endblock %}
